*{
    margin: 0px;
    border: 0px;
    padding: 0px;
}

main {
    margin-bottom: 200px; /* Espaçamento entre o conteúdo da main e o rodapé */
}

.cabecalho{
    background-color:#0d2907;
    box-shadow: 0px 2px 1em #475b5a;
    height: 60px;
    text-shadow: 1.5px 1px 1px ;
    border-bottom: 1px  solid  #152533;
    border-radius: 2px;
    display: flex;
    align-items: center;
}

.cabecalho_nome{
    text-align: center;
    color:#EDDEA4;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Times New Roman', Times, serif;
}
.Bandeira{
    height: 40px;
    margin-left: 5px;
}

body{
    margin: 0;
    padding: 0;
    background-image: url("https://img.freepik.com/fotos-premium/guitarra-acustica-violao-e-personagens-de-telenovelas-brasileiras-e-panqueca-de-tapioca-para-brasileiro-indipe_1279562-5377.jpg?ga=GA1.1.498436884.1727360723&semt=ais_hybrid");
    background-repeat: no-repeat;
    background-size: 100% 138%;
}
body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    width: 110%; /* Aumenta a largura da sobreposição */
    height: 130%; /* Aumenta a altura da sobreposição */
}

.teste {
    z-index: 2;
    position: relative;
}

.tiulo1{
    text-align: center;
    margin: 0.5em auto;
    color:  #EDDEA4;
}

.div_frase{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 30px;
    max-width: 1000px;
    min-width: 500px;
    max-height: 500px;
    margin-top: 20px;
    border-radius: 5px;
}

.frase_box{
    background-color: #004F2D;
    margin: 10px 10px;
    padding: 10px;
    width: 500px;
    border-radius: 20px;
    border-width: 2px;
    border-color: #4571979f;
    border-style: solid;
    box-shadow: 2px 1px 8px rgba(255, 255, 255, 0.281);
    
}

.topo_texto{
    display: flex;
    align-items: center;
}

.nome{
    font-size: 20px;
    margin: 2px 2px;
    padding: 10px;
    font-weight: bold;
    color: #EDDEA4;
    font-family:  Arial, Helvetica, sans-serif;
}

.frase_box a {
    color: inherit;
    text-decoration: none;
}

.frase_box a:hover {
    text-decoration: underline #fcdb39; 
  }

.imagem{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 3px 5px 10px black;
}

.imagem:hover{
    transform: scale(1.2);
    
}

.paragrafo{
    font-family: cursive;
    margin: 2px 2px;
    padding: 2px;
    line-height: 1.5em;
    color: #EDDEA4;
    text-align: left;
    font-weight: bold;
    
}

.container {
    margin-top: 80px;
    display: flex;
    width: 100%;
}



.musicas_div {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    margin-right: auto;
    margin-top: 10px;
    padding: 0px 30px;
    width: 450px;
    height: 250px;
    margin-top: 20px;
    border-style: solid;
    border-color: #4571979f;
    border-width: 1.5px;
    border-radius: 0px 10px 10px 0px;
    background-color: #fcdb39 ;
    box-shadow: 2px 1px 8px rgba(255, 255, 255, 0.281);
}

.box_musica{
    margin-top: 8px;
    margin-left: 10px;
    padding: 2px;
}

.titulo_poesia{
    text-align: left;
}

.musicas{
    color: #0d2907;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 550;
    margin-top: 15px;
    margin-left: 18px;
}

.musicas a{
    color: inherit;
    text-decoration: none;
}

.musicas a:hover{
    text-decoration: underline #0d2907; 
}


.div_historia{
    display: flex;
    flex-direction: column;
    margin-left: 0;
    margin-right: auto;
    padding: 0px 30px;
    width: 700px;
    height: 245px;
    margin-top: 20px;
    margin-right: 0px;
    border-style: solid;
    border-color: #4571979f;
    border-width: 1.5px;
    border-radius: 0px 10px 10px 0px;
    box-shadow: 2px 1px 8px rgba(255, 255, 255, 0.281);
}


.container_historia{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    padding: 20px;
    margin-top: 20px;
}

.video {
margin-left: 0px;
padding: 0px;
}

.historia_box {
    background-color: white;
}


.cadastro{
    margin: 0.5em auto; 
    background-color: #004F2D;
    text-align: center; 
    border: 1px solid black; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
}

.final{
    position: sticky;
    bottom: 0;
    padding: 1em 0;
    border-top: 2px solid #c5c904a8;
    box-shadow: 0px -2px 10px rgba(255, 255, 255, 0.445);
    text-align: center;
    font-weight: bold;
    color: antiquewhite;
    background-color: #004F2D;
}

input{
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}

input::placeholder{
color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}


